*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgoldenrodyellow;
    color: aliceblue;
}
svg{
    width: 2rem;
    aspect-ratio: 1;
}
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    svg{
        width: 3rem;
    }
}
#icon{
    width: 150px;
    aspect-ratio: 1;
}
#forecast{
    width: 30%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: linear-gradient(to right top, #055bda, #0085e8, #00a8e9, #72c7e6, #bbe2e9); */
    background:linear-gradient(to left top, #70e000, #00d374, #00bfab, #00a6c0, #118ab2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#forecast h1{
    font-size: 5rem;
    font-weight: 600;
}
#forecast #userinput{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#forecast input[type="text"]{
    width: 17rem;
    height: 3.5rem;
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 1.5rem;
    outline: none;
    color: #dea439;
    background-color: #f1f1f1;
    text-align: center;
    font-weight: 500;
}
#forecast input[type="text"]::placeholder{
    font-weight: 500;

    color: #dea439;
}
#forecast input[type="text"]:focus{
    background-color: #f8f8f8;
}
#forecast h2{
    font-size: 2rem;
    font-weight: 500;
    color: antiquewhite;
}
#forecast button{
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 100%;
    background-color: #f1f1f1;
    color: #212121;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#forecast .display{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    text-transform: capitalize;
}
#forecast .otherdata{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
#humidity h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#wind h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#humidity i{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#wind i{
    display: flex;
    font-size: 2.8rem;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


@media (max-width: 1024px) {
    #forecast {
        width: 50%;
        height: 50vh;
        padding: 20px;
    }
    #forecast h1 {
        font-size: 4rem;
    }
    #forecast input[type="text"] {
        width: 15rem;
        height: 3rem;
    }
    #forecast button {
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
    }
    #humidity h3, #wind h3 {
        font-size: 1.3rem;
    }
    #humidity i, #wind i {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    #forecast {
        width: 70%;
        height: 80vh;
        padding: 20px;
    }
    #forecast h1 {
        font-size: 3rem;
    }
    #forecast input[type="text"] {
        width: 13rem;
        height: 2.5rem;
    }
    #forecast button {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }
    #humidity h3, #wind h3 {
        font-size: 1.2rem;
    }
    #humidity i, #wind i {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #forecast {
        width: 90%;
        height: 80vh;
        padding: 15px;
    }
    #forecast h1 {
        font-size: 2.5rem;
    }
    #forecast h2 {
        font-size: 1.5rem;
    }
    #forecast #userinput {
        width: 100%;
        justify-content: space-around;
        gap: 7px;
    }
    #forecast input[type="text"] {
        width: 15rem;
    }
    #forecast button {
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
    }
    #humidity h3, #wind h3 {
        font-size: 1rem;
    }
    #humidity i, #wind i {
        font-size: 1.5rem;
    }
}
